<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-4.0.xsd"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans">

    <!-- 指定包中的类头上带有特定注解，如：@Component、@Repository、@Service、@Controller
    就会将这个类作为bean注册到Spring容器里面，自动注册-->
    <context:component-scan base-package="com.etc.*"></context:component-scan>
    <!-- 用来开始Spring的注解模式 -->
    <!-- <context:annotation-config></context:annotation-config> -->
    <!-- 开启springmvc的注解机制，同时相当于注册了DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter这两个Bean -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"></bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- mybatis整合配置 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1/mall?characterEncoding=utf-8"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>
    <!--classpath 加了个*-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath*:com/etc/model/mapper/*.xml"></property>
        <property name="typeAliasesPackage" value="com.etc.model.entity"></property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.etc.model.dao"></property>
    </bean>
    <!-- 事务管理 -->
    <!-- <bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
     -->
    <!-- <tx:advice id="myadvice" transaction-manager="tm">
        <tx:attributes>
            <tx:method name="doRebuild" propagation="REQUIRED"/>
            <tx:method name="doLogin" read-only="true"/>
            <tx:method name="doRegist" propagation="SUPPORTS"/>
            <tx:method name="add*" propagation="SUPPORTS"/>
            <tx:method name="edit*" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice> -->

    <!-- <aop:config>
        <aop:pointcut expression="execution(* com.etc.service.*.*(..))" id="mypc"/>
        <aop:advisor advice-ref="myadvice" pointcut-ref="mypc"/>
    </aop:config> -->
    <!-- <tx:advice id="myadvice" transaction-manager="tm">
        <tx:attributes>
            <tx:method name="doTransfer" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <tx:annotation-driven transaction-manager="tm"></tx:annotation-driven> -->

    <!-- 前置控制器 -->
    <bean id="viewResovler"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
    </bean>
    <!-- 异常处理 -->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error"></property>
        <property name="exceptionAttribute" value="ex"></property>
    </bean>-->


    <!-- 拦截器 -->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.etc.interceptor.MyInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        最大内存大小
        <property name="maxInMemorySize" value="10240"/>
        最大文件大小，-1为不限制大小
        <property name="maxUploadSize" value="-1"/>
    </bean>
     -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--上传文件的最大大小  这里为5M-->
        <property name="maxUploadSize" value="5242880"></property>
        <!--上传文件的编码-->
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
</beans>